{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
.archive__item {
    overflow: visible;
    /* optionally add position: relative; if needed */
    position: relative;
  }

  .circular-image {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .circular-image:hover {
    transform: scale(1.05);
    outline: 4px solid #0077ff; /* bright blue outline */
    outline-offset: 4px;         /* offset so it doesn't overlap image */
  }
  
  .archive__item-excerpt {
  text-align: justify;
  border-bottom: 1px solid #ccc;  /* light gray horizontal line */
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  }

  </style>

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if post.image %}
      <img src="{{ post.image }}" alt="photo" class="circular-image">
    {% endif %}

    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | strip_html | truncate: 500 }}
      </p>
    {% endif %}
  </article>
</div>
